<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MgrIndexMapper">
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  MGR_INDEX
			set NAME    = #{NAME},
				ORDY_BY = #{ORDY_BY},
				PATH  = #{PATH},
				P_PATH	  = #{P_PATH}
			where 
				INDEX_ID = #{INDEX_ID}
	</update>
	
	<!-- 通过id获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			INDEX_ID,
			NAME,
			PATH,
			ORDY_BY,
			PARENT_ID,
			JB,
			P_PATH
		from 
			MGR_INDEX
		where 
			INDEX_ID = #{INDEX_ID}
	</select>
	
	<!-- 新增 -->
	<insert id="save" parameterType="pd">
		insert into MGR_INDEX (
			INDEX_ID,
			NAME,
			PATH,
			ORDY_BY,
			PARENT_ID,
			JB,
			P_PATH
		) values (
			#{INDEX_ID},
			#{NAME},
			#{PATH},
			#{ORDY_BY},
			#{PARENT_ID},
			#{JB},
			#{P_PATH}
		)
	</insert>
	
	<!-- 列表 -->
	<select id="dictlistPage" parameterType="page" resultType="pd">
		select  z1.INDEX_ID,
				z1.NAME,
				z1.PATH,
				z1.ORDY_BY,
				z1.PARENT_ID,
				z1.JB,
				z1.P_PATH,
				z2.NAME PNAME
		from MGR_INDEX z1
		left join
			MGR_INDEX z2 
		on  z1.PARENT_ID = z2.INDEX_ID 
		where 
		    z1.PARENT_ID = #{pd.PARENT_ID}
		<if test="pd.NAME != null and pd.NAME != ''">
			and z1.NAME LIKE CONCAT(CONCAT('%', #{pd.NAME}),'%') 
		</if>
		order by z1.ORDY_BY
	</select> 
	
	<select id="dictlistAll" parameterType="page" resultType="pd">
		select  z1.INDEX_ID,
				z1.NAME,
				z1.PATH,
				z1.ORDY_BY,
				z1.PARENT_ID,
				z1.JB,
				z1.P_PATH,
				z2.NAME PNAME
		from MGR_INDEX z1 left join MGR_INDEX z2 on z1.PARENT_ID=z2.INDEX_ID
		order by z1.JB ASC,z2.JB ASC
	</select>
	
	<!-- 查询总数 -->
	<select id="findCount" parameterType="pd" resultType="pd">
		select 
			count(INDEX_ID) ZS
		from 
			MGR_INDEX
		where 
			PARENT_ID = #{INDEX_ID}
	</select>
	
	<!-- 查询某编码 -->
	<select id="findBmCount" parameterType="pd" resultType="pd">
		select 
			INDEX_ID
		from 
			MGR_INDEX
		where 
			PATH = #{PATH}
		<if test="INDEX_ID != null and INDEX_ID != ''">
			and INDEX_ID != #{INDEX_ID} 
		</if>
	</select>
	
	<!-- 删除用户 -->
	<delete id="delete" parameterType="pd">
		delete from MGR_INDEX 
		where 
			INDEX_ID = #{INDEX_ID}
	</delete>
	
	
</mapper>